@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

.pic2 {
  background-image: url("../img/city.jpeg");
  height: 600px;
  }
  
  .intro{
  font-size: 3rem;
  font-family: 'Sedgwick Ave', cursive;
}
.hidden{
  margin-top: -2px;
}