
#product1 {
    z-index: 1;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 450px;
    margin:auto;
    
}

.cards {
    border: 5px solid white;
    position: relative;
    height: 700px;
}

#purchase {
    position: relative;
    bottom:0;
   
}

#description {
    height: 48px;
}

.image {
    height: 350px;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/