@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.pic1 {
  background-image: url("../img/bitcoin.jpeg");
  color: white;
}

body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
    
}

.container
{
    opacity: 0.9;
    color: black;
}
.my-form
{
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}